/* Makes the calendar icon go from black to white */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.signup {
  text-align: center;
  display: flexbox;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

body {
    background-size: cover;
    color: white;
    height: 100vh;
    padding: 0;
    margin: 0;
}